.event-modal-calendar {
    background-color: #f8fafb;
    display: flex;
    flex-direction: column; /* vertical list layout */
    align-items: center;     /* horizontal center alignment */
    justify-content: center; /* vertical center alignment */
    position: absolute;
    padding: 0px 10px 10px 10px;
    z-index: 1000;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    margin-top: 290px;
}

.event-modal-calendar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.event-modal-calendar-date {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 12px;
}

.event-modal-calendar-header {
    width: 100%;
    height: 40px;
    background-color: #f8fafb;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 3px;
}

.event-modal-calendar-year-month {
    font-weight: 500;
    font-size: 14px;
    padding-left: 10px;
}

.event-modal-calendar-table-head th {
    font-weight: normal;
    cursor: default;
    font-size: 10px;
    font-weight: 200;
}

.event-modal-calendar-table-body td {
    text-align: center; /* center alignment */
    vertical-align: middle; /* vertical center alignment */
    font-weight: 500;
    width: 35px;
    height: 8px
}

.event-modal-calendar-date:hover {
    border-radius: 100%;
    background: #e4e4e4; /* background change on mouse hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* shadow on mouse hover */
}

.event-modal-calendar-table-body td:active {
    background: #dddddd; /* darker background on click */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* enhanced shadow on click */
}

.event-modal-calendar-table {
    width: 100%;
    height: 100%;
    background-color: #f8fafb;
    color: black;
    border-spacing: 3px;
    z-index: 1000;
}

.event-modal-calendar-month-shifter {
    display: flex;  /* align buttons horizontally */
    align-items: center;  /* vertical center alignment */
    position: absolute;    /* position within parent element */
    right: 0px;            /* attach to right edge */
    gap: 2px;              /* adjust button spacing */
    padding-right: 25px;   /* add right margin */
}

.event-modal-calendar-shift-button {
    position: relative;
    background: #F8FAFD;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.event-modal-calendar-shift-button:hover {
    background: #e4e4e4; /* background change on mouse hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* shadow on mouse hover */
}

.event-modal-calendar-shift-button:active {
    background: #dddddd; /* darker background on click */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* enhanced shadow on click */
}

.selected {
    background-color: #bbccff;
    border-radius: 50%;
}

.selected:hover {
    background-color: #9eb2ed !important;
    border-radius: 50%;
}

.today {
    background-color: #305de2 !important;
    border-radius: 50%;
    color: white !important;
}

.today:hover {
    background-color: #2b4fbd !important;
    border-radius: 50%;
    color: white !important;
}