.view-selector {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    position: relative;
}

/* button style */
.view-selector-button {
    display: flex;
    justify-content: space-between; /* text left alignment, icon right */
    align-items: center;
    background: #f8fafb;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    min-width: 100px;
    min-height: 30px;
    border-radius: 20px;
    border: 1px solid #b3b3b3;
    cursor: pointer;
    transition: border 0.3s ease;
}

.view-selector-button:hover {
    background: #e4e4e4; /* background change on mouse hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* shadow on mouse hover */
}

.view-selector-button:active {
    background: #dddddd; /* darker background on click */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* enhanced shadow on click */
}

/* icon style */
.button-text {
    flex-grow: 1; /* text align left setting */
    text-align: left; /* left align text */
}

.button-icon {
    margin-left: 10px; /* spacing between icon and text */
    font-size: 12px;
}

/* list default style (hidden state) */
.view-selector-list {
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    width: 150px; /* list width */
    list-style: none;
    padding: 7px 0px;
    margin-top: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    background-color: #f8fafb;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* add shadow */
    
    /* animation effect */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    z-index: 9999; /* display above other elements */
}

.list-item {
    display: flex;
    justify-content: space-between; /* both sides alignment */
    align-items: center;
    padding: 10px 10px; /* add spacing between items */
    font-size: 14px;
    font-weight: 500;
}

/* style on mouse hover */
.list-item:hover {
    background: #e4e4e4; /* darker background */
    border-radius: 0px;
}

.list-item:active {
    background: #dddddd; /* darker background on click */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* enhanced shadow on click */
    transition: transform 0.1s ease-in-out; /* add smooth transition effect */
}

/* style when list is open */
.view-selector-list.open {
    opacity: 1;
    visibility: visible;
}
