.shift-button {
    position: relative;
    background: #F8FAFD;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.shift-button:hover {
    background: #e4e4e4; /* background change on mouse hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* shadow on mouse hover */
}

.shift-button:active {
    background: #dddddd; /* darker background on click */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* enhanced shadow on click */
}

.icon-wrapper svg {
    fill: black; /* icon color */
    width: 24px;
    height: 24px;
}

.tooltip {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: 9999; /* display above other elements */
}

.tooltip-wrapper {
    position: relative;
}

.shift-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.date-shifter {
    display: flex;  /* align buttons horizontally */
    align-items: center;  /* vertical center alignment */
    gap: 4px;  /* adjust button spacing */
}