.drop-down {
    text-align: center;
    margin-top: 0px;
    position: relative;
}

.drop-down-button {
    position: relative;
    background: #F8FAFD;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.drop-down-button:hover {
    background: #e4e4e4; /* background change on mouse hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* shadow on mouse hover */
}

.drop-down-button:active {
    background: #dddddd; /* darker background on click */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* enhanced shadow on click */
}


/* list default style (hidden state) */
.drop-down-list {
    position: absolute;
    left: 110%;
    transform: translateX(-50%);
    width: 100px; /* list width */
    list-style: none;
    padding: 7px 0px;
    margin-top: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    background-color: #f8fafb;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* add shadow */
    
    /* animation effect */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    z-index: 9999; /* display above other elements */
}

.list-item {
    display: flex;
    justify-content: space-between; /* justify between alignment */
    align-items: center;
    padding: 10px 10px; /* add spacing between items */
    font-size: 14px;
    font-weight: 500;
}

/* style on mouse hover */
.list-item:hover {
    background: #e4e4e4; /* darker background */
    border-radius: 0px;
}

.list-item:active {
    background: #dddddd; /* darker background on click */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* enhanced shadow on click */
    transition: transform 0.1s ease-in-out; /* add smooth transition effect */
}

/* list open style */
.drop-down-list.open {
    opacity: 1;
    visibility: visible;
}
